.certificates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.htmlc,
.cssc,
.reactc {
    width: 400px;
    height: 300px;
    padding-left: 50px;
    padding-right: 50px;
    /* box-shadow: 0px 0px 10px black; */
    animation: certificates 2s linear;
}

@keyframes certificates {
    from {
        opacity: 0;
    }
}

@media (min-width: 901px) and (max-width: 1300px) {
    .certificates {
        grid-template-columns: 1fr 1fr;
    }

    .htmlc,
    .cssc,
    .reactc {
        width: 350px;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 50px;

    }

    .htmlc,
    .cssc {
        margin-top: 140px;
    }
}

/* 
@media (min-width: 761px) and (max-width: 900px) {
    .certificates {
        grid-template-columns: 1fr;
    }

    .htmlc,
    .cssc,
    .reactc {
        width: 350px;
        height: 200px;
        margin-top: 0px;
        margin-bottom: 50px;

    }

} */

@media (min-width: 461px) and (max-width: 900px) {
    .certificates {
        grid-template-columns: 1fr;
    }

    .htmlc,
    .cssc,
    .reactc {
        width: 300px;
        height: 200px;
        padding-top: 5px;
        margin-bottom: 50px;

    }

    .htmlc {
        padding-top: 90px;
    }
}

@media (min-width: 331px) and (max-width: 460px) {
    .certificates {
        grid-template-columns: 1fr;
        top: 60%;
    }

    .htmlc,
    .cssc,
    .reactc {
        width: 250px;
        height: 150px;
        margin-top: 0;
        margin-bottom: 50px;

    }

    .htmlc {
        padding-top: 90px;
    }
}

@media (max-width: 330px) {
    .certificates {
        grid-template-columns: 1fr;
        top: 70%;
    }

    .htmlc,
    .cssc,
    .reactc {
        width: 200px;
        height: 100px;
        margin-bottom: 50px;
    }

}