.contactcontainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    transform-style: preserve-3d;
    animation: contact 3s ease-in-out;
}

@keyframes contact {
    from {
        opacity: 0;
    }
}

.whatsapp {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    filter: brightness(1) contrast(1);
    filter: drop-shadow(0px 0px 15px rgb(135, 243, 64));
    transition: transform 0.01s ease-in-out;
    cursor: pointer;
}

.whatsapp:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 10px 15px rgb(135, 243, 64));

}

.gmail {
    width: 80px;
    height: 70px;
    border-radius: 10%;
    filter: brightness(1) contrast(1);
    filter: drop-shadow(0px 0px 15px rgb(253, 128, 128));
    transition: transform 0.01s ease-in-out;
    cursor: pointer;
}

.gmail:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 10px 15px rgb(253, 128, 128));

}


.cgithub {
    width: 80px;
    height: 80px;
    filter: brightness(1) contrast(1);
    filter: drop-shadow(0px 0px 15px rgb(245, 239, 239));
    transition: transform 0.01s ease-in-out;
    cursor: pointer;
}

.cgithub:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 10px 15px rgb(245, 239, 239));

}


.linkedin {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    filter: brightness(1) contrast(1);
    filter: drop-shadow(0px 0px 15px rgb(61, 94, 240));
    transition: transform 0.01s ease-in-out;
    cursor: pointer;
}

.linkedin:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 10px 15px rgb(61, 94, 240));

}

@media all and (max-width: 996px) {
    .contactcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        gap: 120px;
    }
}

@media all and (max-width: 480px) {
    .contactcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        gap: 50px;
    }
}

@media all and (max-width: 340px) {
    .contactcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        gap: 10px;
    }
}