body {
    background-color: rgb(250, 249, 249);
}

/* .body {
    width: 100vw;
    height: 100vh;
    /* background: rgb(240, 18, 38);
    background: linear-gradient(317deg, rgba(240, 18, 38, 1) 29%, rgba(0, 0, 0, 1) 30%); */
/* overflow: hidden;
animation: opac 3s ease-in-out;
}

@keyframes opac4 {
    from {
        margin-left: 900px;
        opacity: 0;
    }
} */

.highlights {
    color: rgb(250, 3, 3);
    text-shadow: 0px 0px 1px red;
}

nav {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color: rgb(5, 5, 5);
    flex-wrap: wrap;
    /* border: 1px solid red; */
    position: fixed;
    top: 0;
    z-index: 5;
}

#h1s {
    /* color: red; */
    width: auto;
    text-align: center;
    font-size: 35px;
    color: rgb(248, 247, 247);
    /* text-shadow: 2px 2px 15px red; */
    text-decoration: none;
    /* margin-left: 20px; */
    position: fixed;
    margin: 0;
    left: 20px;
    top: 15px;
    background-color: rgb(243, 54, 54);
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: none;
    animation: portfoliologo 1s;
    animation-timing-function: linear;
}

@keyframes portfoliologo {
    from {
        margin-top: -100px;
    }
}

ul {
    display: flex;
    /* justify-content: center; */
    gap: 50px;
    width: 50%;
    justify-content: center;
}

li {
    width: fit-content;
    font-size: 20px;
    list-style: none;
    /* border: 1px solid red; */
    border-radius: 20px 20px;
    color: whitesmoke;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding-bottom: 30px;
    padding-top: 5px;
    height: 2px;
    font-weight: bold;
    /* text-shadow: 0px 0px 7px red; */
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    transform-style: preserve-3d;
    animation: navlis 1s linear;
}

li:hover {
    transform: scale(1.1);
    background-color: red;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: none;
}

.contactus {
    margin-top: 0.5%;
    border-color: whitesmoke;
    text-shadow: none;
}


@keyframes navlis {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.menu {
    position: fixed;
    right: 10px;
    top: 20px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    /* z-index: -1; */
}

.line {
    width: 45px;
    height: 5px;
    background-color: red;
    padding-top: 2px;
    margin-bottom: 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 120px;
    padding-left: 90px;
    padding-right: 20px;
}

.leftcontainer {
    min-width: 100%;
    /* border: 1px solid red; */
    order: 1;
    margin-top: 60px;
}

.name {
    color: red;
    font-size: 60px;
    margin: 0;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    animation: opac 2s ease-in-out;
}

@keyframes opac {
    from {
        opacity: 0;
    }
}

.title {
    color: red;
    font-size: 30px;
    border-right: 1px solid red;
    width: 19ch;
    white-space: nowrap;
    overflow: hidden;
    text-align: start;
    animation: typing 5s steps(19) infinite alternate, cursor 0.5s infinite alternate, opac2 2s ease-in-out;
}

@keyframes opac2 {
    from {
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.object {
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    /* font-weight: 600; */
    text-shadow: 0px 0px 1px black;
    animation: opac3 2s ease-in-out;
}

@keyframes opac3 {
    from {
        opacity: 0;
    }
}

.rightcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    order: 2;

}

.img {
    position: relative;
    /* left: 50%; */
    /* transform: translate(-50%, 0); */
    width: 70%;
    align-self: center;
    filter: brightness(1) contrast(1.3) saturate(0.9);
    /* filter: opacity(0.8) contrast(1.4) saturate(0.7) drop-shadow(0px 0px 50px rgb(92, 3, 3)); */
    border: none;
    border-radius: 50% 50% 10% 10%;
    box-shadow: 0px 0px 20px black, 0px 0px 20px red;
    transform-style: preserve-3d;
    animation: imgentry 2s linear;
}

@keyframes imgentry {
    from {
        transform: rotate(5deg);
        opacity: 0;
        margin-right: -600px;
    }
}

.down {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.downloadbtn {
    padding: 5px 20px 10px 20px;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    /* border: 1px solid red; */
    border-radius: 20px;
    color: whitesmoke;
    background-color: rgb(1, 5, 12);
    box-shadow: 0px 0px 10px white;
    text-shadow: 0px 0px 2px whitesmoke;
    z-index: 1;
    transition: transform 0.1s ease-in-out;
    animation: downloadbtn 3s;
    animation-timing-function: initial;
}

.downloadbtn:hover {
    transform: scale(1.1);
}

@keyframes downloadbtn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

}


@media (min-width : 970px) and (max-width : 1034px) {

    .container {
        grid-template-columns: 1fr;
    }

    .rightcontainer {
        order: 1;
    }

    .leftcontainer {
        order: 2;
    }
}

@media all and (max-width : 969px) {

    .container {
        grid-template-columns: 1fr;
    }

    .rightcontainer {
        order: 1;
    }

    .leftcontainer {
        order: 2;
    }

    .menu {
        display: block;
        z-index: 5;
    }

    #notshow {
        display: none;
    }

    #show {
        position: fixed;
        right: 0;
        top: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        z-index: 4;
    }

    ul {
        flex-direction: column;
        align-items: center;
        transform: scale(1.2);
    }

}

@media all and (max-width : 575px) {
    #h1s {
        top: 20px;
        font-size: 25px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .line {
        top: 25px;
        height: 4px;
    }

    .container {
        padding-left: 20px;
    }

    .name {
        text-align: center;
        font-size: 35px;
        text-wrap: wrap;
    }

    .title {
        padding-left: 15vw;
        font-size: 25px;
    }

    .object {
        text-align: center;
    }

    ul {
        transform: scale(1);
        gap: 40px;
    }
}