.skills {
    margin: 0;
    margin-top: 5px;
    padding-top: 70px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; */
}

.skillsonetop,
.skillstwotop,
.skillsthreetop {
    margin: 0;
    box-shadow: rgb(8, 0, 0) 0px 0px 5px;
    filter: brightness(1) contrast(1.3);
    transform-style: preserve-3d;
    animation: entryskills 2s linear;

}

@keyframes entryskills {
    from {
        /* transform: rotatey(10deg); */
        /* width: 50px; */
        /* filter: blur(25px); */
        margin-top: 1000px;
    }
}


.languages,
.frameworks,
.others {
    color: rgb(247, 244, 244);
    font-family: arial;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 35px;
    /* text-shadow: 0px 0px 10px rgb(243, 57, 57), 0px 0px 10px rgb(243, 57, 57), 0px 0px 10px rgb(243, 57, 57), 0px 0px 10px rgb(243, 57, 57), 0px 0px 10px rgb(243, 57, 57), 0px 0px 10px rgb(243, 57, 57), 0px 0px 10px rgb(243, 57, 57); */
    text-align: center;
    background-color: rgb(39, 38, 37);
    margin-top: 0;
    padding-bottom: 5px;
}

table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

td {
    padding-left: 20px;
    padding-right: 20px;
}

.html {
    width: 60px;
    height: 70px;

    animation: html 2s ease-in-out infinite;
}

@keyframes html {
    50% {
        filter: drop-shadow(0px 0px 15px rgb(248, 102, 35));
    }
}

.css {
    width: 90px;
    height: 90px;

    animation: css 2s ease-in-out infinite;
}

@keyframes css {
    50% {
        filter: drop-shadow(0px 0px 10px rgb(38, 101, 236));
    }
}


.js {
    width: 100px;
    height: 120px;
    animation: js 2s ease-in-out infinite;
}

@keyframes js {
    50% {
        filter: drop-shadow(0px 0px 8px rgb(248, 245, 35));
    }
}

.bootstrap {
    width: 90px;
    height: 100px;
    animation: bootstrap 2s ease-in-out infinite;
}

@keyframes bootstrap {
    50% {
        filter: drop-shadow(0px 0px 15px rgb(131, 43, 247));
        transform: skew(10deg);
    }
}

.material {
    width: 100px;

    animation: material 2s ease-in-out infinite;
    animation-delay: 1s;
}

@keyframes material {
    50% {
        filter: drop-shadow(0px 0px 6px rgb(62, 242, 248));
        /* transform: rotate(-300deg); */
    }
}

.react {
    width: 80px;
    height: 80px;

    animation: react 30s ease-in-out infinite;
    animation-delay: 1s;
}

@keyframes react {
    20% {
        filter: drop-shadow(0px 0px 15px rgb(46, 219, 241));
        transform: rotate(100deg);
    }

    40% {
        filter: drop-shadow(0px 0px 15px rgb(46, 219, 241));
        transform: rotate(300deg);
    }

    60% {
        filter: drop-shadow(0px 0px 15px rgb(46, 219, 241));
        transform: rotate(500deg);
    }

    80% {
        filter: drop-shadow(0px 0px 15px rgb(46, 219, 241));
        transform: rotate(700deg);
    }
}

.git {
    width: 80px;
    height: 70px;
    animation: git 2s infinite ease-in-out;
}

@keyframes git {
    50% {
        filter: drop-shadow(0px 0px 10px rgb(247, 78, 27));
        transform: skew(10deg);
    }
}

.github {
    width: 90px;
    height: 90px;
    padding-bottom: 15px;
    animation: github 5s infinite ease-in-out;
    animation-delay: 1s;
}

@keyframes github {
    50% {
        filter: drop-shadow(0px 0px 10px rgb(226, 219, 216));
        transform: rotatey(180deg);
    }
}

.vs {
    width: 80px;
    height: 70px;
    animation: vs 2s infinite ease-in-out;
}

@keyframes vs {
    50% {
        filter: drop-shadow(0px 0px 10px rgb(48, 169, 240));
        transform: rotate(-20deg);
    }
}

.skilltitles {
    color: rgb(14, 13, 13);
    padding-top: -10px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}



@media all and (max-width: 330px) {
    table {
        transform: scale(0.9);
    }
}